@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à StoreManager!</h1>

    <p>Conheça as lojas e quiosques do Shopping StoreManager!</p>

    <p>Acesse as lojas <a href="/Store/Index">aqui</a>.</p>
    
    <p>É administrador? Acesse a Área Administrativa <a href="/Store/IndexAdmin">aqui</a>.</p>
</div>
